.accordion {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.accordion__top {
    position: relative;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 5px;
}

.accordion .contacts__icon {
    position: relative;
    margin: 20px;
    margin-bottom: 15px;
}

.page-contacts .accordion .local {
    top: 30px;
    left: 15px;
}


.page-contacts .layout-3col {
    background-color: #f5f5f5;
}

.page-contacts .triangle {
    border-color: transparent transparent #f5f5f5 transparent;
}

.page-contacts .accordion i {
    width: 30px;
    height: 30px;
    font-size: 26px;
    position: absolute;
    top: 0;
    left: 0;
    color: #ea5b0c;
}
.accordion .local {
    top: 30px;
    left: 15px;
}

.accordion__content {
    display: none;
    padding: 0;
    padding-top: 0;
}

.contacts__block .contacts__icon {
    position: relative;
    text-align: left;
}

.page-contacts h5 span {
    color: #333;
    font-family: Gotham,sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.contacts__block p {
    padding-left: 45px;
    text-align: left;
    margin-bottom: 0;
}

.page-contacts .accordion__content p {
    font-family: Circe,sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: relative;
    padding-left: 50px;
}

.page-contacts .accordion__content p span{
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.contacts__block .contacts__icon{
    margin-bottom: 0;
    float: left;
}

.page-contacts h5 {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 47px;
    margin-bottom: 0;
    text-align: left;
    font-style: normal;
    text-transform: none;
}

.accordion__top .carret {
    position: absolute;
    top: 2px;
    right: 5px;
    width: 16px;
    height: 16px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}



@media only screen and (max-width: 1200px){

        .contacts__block-2 {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-top: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }
        .contacts__block-2 {

        }
    .contacts__block {
        display: block;
        justify-content: space-between;
        /* margin-top: 5px; */
        margin: 0;
    }
    .contacts__block {
        display: block;
        justify-content: space-between;
    }
}

.contacts__block-2 .btn-green {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
}
.btn-green {
    background: 0 0;
    border: 2px solid #32a356;
    color: #32a356;
    padding-top: 14px;
    padding-bottom: 14px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
.page-contacts .accordion__content .main-btn {
    border: 3px solid #ea5b0c;
    font-family: Roboto;
    display: inline-block;
    /* padding: 15px 40px; */
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    float: right;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
    background-color: #ea5b0c;
    background-image: -o-linear-gradient(85deg,#e41b5f 0,#f0413e 100%);
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}

.page-contacts .accordion__content .main-btn:hover{
    border: 3px solid #ea5b0c;
    background: #fff;
    color: #ea5b0c;
    text-decoration: none;
}


.accordion__top .carret:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    height: 2px;
    width: 16px;
    background-color: #ea5b0c;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.accordion__top .carret:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    height: 16px;
    width: 2px;
    background-color: #ea5b0c;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.page-contacts .accordion__content p a{
    font-weight: normal;
    font-size: 14px;
    color: #333;
}

.accordion.active .carret::before {
    -webkit-transform:  rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordion.active .carret::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.accordion.active .accordion__content{
    display: block;
}

.page-contacts h5.modal-title{
    padding: 0;
}