.tabs-price{
    margin:0;
    padding: 0;

    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

ul.tabs-price li{
    padding: 0;
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    color: #fff;
    -ms-flex: 1;
    flex: 1;
    font-weight: bold;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background: #fff;
}

ul.tabs-price li a i{
    font-size: 20px;
    padding-right: 4px;
}


ul.tabs-price li a.active{
    padding: 5px;
    display: block;
    cursor: pointer;
    background: #fff;
    /* color: #ea5b0c !important; */
    font-weight: bold;
    border-top-color: #d7272a;
    border-bottom: none;
    box-shadow: inset 0 3px 0 #d7272a;
    color: #d7272a !important;
 }

ul.tabs-price li a:hover{
    color: #d7272a !important;
}

ul.tabs-price li a{
    padding: 5px;
    display: block;
    cursor: pointer;
    overflow: visible;
    padding: 0;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    /* font-family: Roboto; */
    font-size: 18px;
    font-weight: bold;
    background: rgba(40,44,42,0.05);
    color: #74777b !important;
    border: 1px solid rgba(40,44,42,0.1);
}

.page-prices #block-system-main{
    background: #fff;
}

ul.tabs-price li a.active:after{
   /* position: absolute;
    top: 99%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 10px;
    border-top-color: #fff;
    content: '';
    pointer-events: none;*/
}

ul.tabs-price li a:first-child{
    padding: 2em 0;
}

.prices .collapse.show{
    display: block;
    background: #fff;
    padding: 10px;
    padding-top: 20px;
}

.prices .collapse{

}

.page-prices .layout-3col {
    background: #e7ecea;
}

.page-prices .triangle{
    border-color: transparent transparent #e7ecea transparent;
}

.page-prices .view-price .views-row{
    width: 290px;
}

.header-price{
    margin-bottom: 23px;
    /* color: #d7272a; */
    font-weight: bold;
    border-bottom: 2px solid #d7272a;
    font-size: 19px;
    display: inline-block;
}

.modal-footer button{

}